* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  height: 180px;
  background-color: rgb(78, 160, 255);
  background-image: url(../img/pattern.png);
  position: relative;
}

#logo {
  height: 100px;
  position: absolute;
  bottom: 10%;
}

/* MAIN - Introduction and text*/
main, footer {
  padding: 0 200px;
}

ul {
  padding: 0 15px;
}

main h1 {
  font-size: 3em;
}

p,
table {
  margin: 20px 0 20px;
}

.text-grey {
  color: rgb(128, 128, 128);
  font-size: 1.3em;
}

.text-blue {
  color: rgb(11, 161, 226);
}

.highlight {
  background-color: yellow;
}

#sources {
  font-size: 0.8em;
  margin-top: 0;
}

/* MAIN - Table */
table {
  border-collapse: collapse;
}

thead th {
  color: white;
  background-color: rgb(11, 161, 226);
  text-align: left;
}

.first-coloumn,
.second-cloumn {
  width: 20%;
}

.third-coloumn {
  width: 60%;
}

.blue-row {
  background-color: rgb(177, 229, 242);
}

/* FOOTER */
.article {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  width: 300px;
  height: 200px;
  margin: 10px 0 10px 0;
  padding: 10px;
}

#monitor {
  background-image: url(../img/monitor.jpg);
}

#graph {
  background-image: url(../img/graph.jpg);
}